[submodule "worker"]
	path = worker
	url = https://github.com/LambdaVTB/backend-worker
[submodule "employee"]
	path = employee
	url = https://github.com/LambdaVTB/backend-api-employee
[submodule "migrations"]
	path = migrations
	url = https://github.com/LambdaVTB/backend-migrations
